#header{
    display: flex;
    justify-content: space-between;
}

#G_logo{
    border: 2px solid black;
    height: 100px;
    width: 100px;
}

#chatting{
    border: 2px solid black;
    width: 20em;
    height: 40em;
}

.mainbox{
    display: flex;
    height: 40em;
    width: 90em;
    border: 2px solid black;
}

#word_info{
    border: 2px solid black;
    width: 10em;
}

#sketch_board{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40em;
    width: 55em;
}

#sketch_control{
    border: 2px solid black;
}

.user_box{
    border: 2px solid black;
    width: 232px;
    height: 40em;
}

.player{
    border: 2px solid black;
    height: 156px;
}