<!doctype html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Ketu</title>
    <link rel="stylesheet" href="{% static 'css/ketu.css' %}?after">
    <script type="text/javascript" src="{% static 'js/ketu.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <style>
        body{
            background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6) ),url("/static/img/ketu/BG2.png");
            background-size: 100% 100%;
        }


        
    </style>
</head>
<body>
    <div id="d1">
        <div id="info" class="g_info">
            <div><img id="GS" src="{% static 'img/ketu/GS.png' %}" alt=""></div>
        </div>

        <div id="game_box">
            <div id="Player_box" class="P_box">
                <img src="{% static 'img/ketu/left.png' %}" onclick="Pword('test')">
            </div>

            <div id="main_box" class="main_box">
                <div id="word_list" class="g_info"></div>
                <div id="input_word" class="g_info">
                    <input type="text" placeholder="여기에 입력하세요.">
                </div>
            </div>
            
            <div id="BOT_box" class="P_box">
                <img src="{% static 'img/ketu/right.png' %}" onclick="Pword('test')">
            </div>
        </div>
    </div>
</body>
</html>
