<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/lobby.css' %}?after">
    <meta charset="UTF-8">
    <title>선린게임</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <style>
        .bgimg {
            background-image: url('/static/img/bg.gif');
        }
    </style>

    <script>
        var arr = ["▶ Press To Start ◀", "▶ ㅤPress To Startㅤ ◀"];
        var cnt=0;
        window.onload=function(){
            text();
        }

        function over_img(obj){
            var shadow = obj.children[1];
            shadow.style.transform="translateY(0%)";
        }
        function down_img(obj){
            var shadow = obj.children[1];
            shadow.style.transform="translateY(100%)";
        }
        function text(){
            if(cnt==2) cnt=0;
            document.getElementById("start").innerHTML = arr[cnt++];
            setTimeout("text()",500);
        }
    </script>

    <style>
        .bgimg {
            background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('/static/img/bg.gif');
        }
    </style>

</head>
<body onload="text()" class="bgimg" id="fadein" oncontextmenu='return false' ondragstart='return false' onselectstart='return false'>  <!-- ondragstart="return false" onselectstart="return false" class="bgimg" style="overflow:hidden; width: 75%;"-->
    <div id="main_logo">
        <img src="static/img/LOGO.png" alt="로고사진">
    </div>


    <a href="{% url 'game' %}">
        <div id="start" style="padding-top: 100px;text-align: center; font-size: 70px; color:white; cursor: pointer;">▶ Press to start ◀</div>
    </a>

    <!-- <div id="game_menu">
        <a href="{% url 'sketch' %}" target="_self">
            <div class="GI" onmouseover="over_img(this)" onmouseout="down_img(this)">
                <img src="static/img/G1.jpg">
                <div class="up" id="up1">
                    <span>스케치퀴즈</span><hr>
                </div>
            </div>
        </a>

        <a href="{% url 'ketu' %}">
            <div class="GI" onmouseover="over_img(this)" onmouseout="down_img(this)">
                <img src="static/img/G2.jpg">
                <div class="up" id="up2">
                    <span>끝말잇기</span><hr>
                </div>
            </div>
        </a>
    </div> -->


    </body>
</html>
