@font-face {
    src: url('/static/font/munro.ttf');
    font-family: "main-font";
}

#fadein {
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    overflow: hidden;
}

body, html { 
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: default;
}

.sidebar {
    color: white;
    padding-top: 2em;
}