
body{
    overflow: hidden; 
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6) ),url("/static/img/ketu/BG2.png");
    background-size: 100% 100%;
}

#d1{
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px, rgba(0,0,0,0.5) 2px 2px 3px 3px;
    width: 1900px;
    height: 98vh;
    /* border: 2px solid white; */
    margin: 0 auto;
    overflow: hidden;
}

.main_box{
    position: relative;
    overflow: hidden;
    width: 1600px;
}

.score{
    width: 45%;
    height: 65px;
    border-radius: 30px;
    margin: 0 auto ;
    border: 2px solid white;
    text-align: center;
    color: whIte;
}

#GS{
    filter: brightness(104%);
    width: 325px;
    margin-top: -5px;
}



#word_list{
    margin-top: 15px;
    height: 440px;
    overflow: hidden;
}

#START_LOGO{
    position: absolute;
    left: 41%;
}

#info{
    display: flex;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid black;
}

.g_info{
    width: 100%;
    height: 19%;
}

#word{
    width: 300px;
    height: 40px;
}

#input_word input{
    width: 100%;
    font-family: 'Jua', sans-serif;
    text-align: center;
    background: none;
    height: 97%;
    font-size: 30px;
    color: white;
}

#input_word{
    height: 30.7%;
}

.P_box{
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.5);
    width: 1400px;
    padding-top: 20px;
    font-size: 20px;
    border-left: 7px solid;
    border-right: 7px solid;
}



#Player_box img{
    -webkit-user-drag: none;
    width: 100%;
    height: 75%;
    margin: 35px 0px 0px 0px;

}

#BOT_box img{
    -webkit-user-drag: none;
    width: 100%;
    height: 75%;
    padding: 35px 0px 0px 0px;

}

::placeholder {
    color: WHITE;
    /*font-family: 'Jua', sans-serif;*/
    font-family: 'Nanum Brush Script', cursive;
    font-size: 1.5em;
}

  #game_box{
      -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
      display: flex;
      height: 845px;
  }


#gameinfo{
    display: block;
    width: 100%;
    height: 7%;
    opacity: 0.8;
    background-color: white;
}

#first_word{
    text-align: center;
    font-size: 25px;
}

#final{
    width: 100%;
    position: absolute;
    top: -850px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    
}
/*  animation: slid 3s forwards; */
@keyframes end{
    to{
        top: 0px;
    }
}

@keyframes slid{
    to{
        top: 0px;
    }
}

/*
width: 100%;
    position: absolute;
    top: -90px;
    height: 100%;
    background-color: white;
*/


#gameend{
    position: absolute;
    width: 100%;
    z-index: 100;
    height: 100%;
    top: -50px;
    animation: gameend 1s forwards;
    display: none;
}


@keyframes gameend{
    to{
        width: 100%;
        z-index: 100;
        height: 100%;
        top: -50px;
        opacity: 0;
        animation: gameend 1s;
    }

    from{
        width: 100%;
        z-index: 100;
        height: 50%;
        top: -50px;
        opacity: 1;
    }
}

  /*##############################################################*/
 /*####                        타이머 부분                     ###*/
/*##############################################################*/

#timer{
    display: block;
    width: 100%;
    height: 63%;
    opacity: 0.8;
    background-color: white;
}

#timer_bar{
    width: 100%;
    height: 60%;
    background-color: orange;
}

#userTime_bar{
    background-color: red;
    width: 100%;
    height: 35%;
}





  /*##############################################################*/
 /*####                        팝업창 부분                     ###*/
/*##############################################################*/

#main {
    z-index:1;
}   

#layer {
    z-index:2;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    background-color:rgba(0,0,0,0.8);
}

#popup {
    background-image: url('https://w7.pngwing.com/pngs/883/807/png-transparent-blue-lined-white-paper-desktop-notebook-notepad-mobile-phones-page-miscellaneous-angle-text.png');
    background-size: 570px 700px;
    font-size: 20px;
    z-index:3;
    position:fixed;
    text-align:center;
    left:35%;
    top:15%;
    width:570px;
    height: 700px;
    background-color:#FFFFFF;
    border:3px solid black;
    
}

#close {
    z-index:4;
    float:right;
}
#final{
    background-color: brown;
    font-size: 2em;
    text-align: center;
}
#final > a{/*재시작*/
    display: block;
    width: 100%;
    margin-top: 200px;
    color: black;
}