
body{
    overflow: hidden; 
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6) ),url("/static/img/ketu/BG2.png");
    background-size: 100% 100%;
}

#d1{
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px, rgba(0,0,0,0.5) 2px 2px 3px 3px;
    width: 1900px;
    height: 98vh;
    /* border: 2px solid white; */
    margin: 0 auto;
    overflow: hidden;
}

.main_box{
    overflow: hidden;
    width: 1600px;
}

#mainLOGO{
    
}

#GS{
    filter: brightness(104%);
    width: 325px;
    margin-top: -5px;
}



#word_list{
    margin-top: 15px;
    height: 440px;
    overflow: hidden;
}

#START_LOGO{
    position: absolute;
    left: 41%;
}

#info{
    display: flex;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid white;
}

.g_info{
    width: 100%;
    height: 19%;
}

#word{
    width: 300px;
    height: 40px;
}

#input_word input{
    width: 99.1%;
    font-family: 'Jua', sans-serif;
    text-align: center;
    background: none;
    height: 97%;
    font-size: 30px;
    color: white;
}

#input_word{
    height: 30.7%;
}

.P_box{
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.5);
    width: 1400px;
}



#Player_box img{
    -webkit-user-drag: none;
    padding: 139px 0px 0px 0px;
    width: 100%;
    height: 75%;
}

#BOT_box img{
    -webkit-user-drag: none;
    height: 800px;
    width: 600px;
}

::placeholder {
    color: WHITE;
    /*font-family: 'Jua', sans-serif;*/
    font-family: 'Nanum Brush Script', cursive;
    font-size: 1.5em;
}

  #game_box{
      -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
      display: flex;
  }


#gameinfo{
    display: block;
    width: 100%;
    height: 7%;
    opacity: 0.8;
    background-color: white;
}

#first_word{
    text-align: center;
    font-size: 25px;
}

  /*##############################################################*/
 /*####                        타이머 부분                     ###*/
/*##############################################################*/

#timer{
    display: block;
    width: 100%;
    height: 63%;
    opacity: 0.8;
    background-color: white;
}

#timer_bar{
    width: 0%;
    height: 60%;
    background-color: orange;
}

#userTime_bar{
    background-color: red;
    width: 0%;
    height: 35%;
}





  /*##############################################################*/
 /*####                        팝업창 부분                     ###*/
/*##############################################################*/

#main {
    z-index:1;
}   

#layer {
    z-index:2;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    background-color:rgba(0,0,0,0.8);
}

#popup {
    z-index:3;
    position:fixed;
    text-align:center;
    left:35%;
    top:20%;
    width:570px;
    height:100px;
    background-color:#FFFFFF;
    border:3px solid #87cb42;       
    /*background-image: url("{% static 'img/ketu/note.png' %}");*/
}

#close {
    z-index:4;
    float:right;
}