@font-face {
    src: url('/static/font/munro.ttf');
    font-family: "main-font";
}

#fadein {
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    overflow: hidden;
}

body, html { 
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: default;
}

a { 
    text-decoration:none; 
    color:#000000
}

.bgimg {
    border: 0;
    padding: 0; 
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#game_menu{
    display: flex;
    justify-content: center;
}

.GI{
    margin: 0 70px 0 70px;
    background-color: rgba(255, 255, 255, 0.6);
}

#main_logo{
    padding-top:40px;
    margin: 50px 0px 0px 0px;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

.GI{
    overflow: hidden;
    border: solid;
    position: relative;
    width: 360px;
    height: 440px;
    box-shadow: 20px 20px rgb(77, 77, 177);
}

.GI > img {
    width: 350px;
    height: 430px;
    
}



.up {
    background-color: rgb(80, 185, 189,0.4);
    position: absolute;
    top: 0%;
    width: 430px;
    height: 530px;
}
.up {
    transform: translateY(100%);
    transition: all 1.5s ease-out;
}

.up:hover {
    visibility: visible;
    
    transform: translateY(0%);
}
.GI{
    border: solid;
    transition : all ease 1s;
}

.GI:hover {
    transform: scale(1.4);

}

#start {
    font-family: 'main-font';
}