body {
    background-color: lightskyblue;
    height: 1024px;
    width: 2048px;
    
}

#header {
    display: flex;
    justify-content: space-between;
}

::-webkit-scrollbar {
    display: none;
}

#G_logo {
    margin-left: 300px;

}

#header {
    margin: 0, auto;
    width: 84%;
}

#chatting {
    width: 320px;
    height: 40em;
}

.mainbox {
    margin: 0 auto;
    display: flex;
    height: 640px;
    width: 1500px;
    align-items: center;
}



#sketch_board {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55em;
    border: 7px solid black;
    border-radius: 20px;
    position: relative;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 46px;
    border-top: 7px solid black;
    margin-top: -6px;
}

#sketch_control {
    border: 2px solid black;
}


.user_box {
    width: 240px;
    height: 650px;
    margin-right: 30px;
}


.player {
    overflow: hidden;
    margin: 17px 0 -3px 4px;
    border: 2px solid black;
    height: 22%;
    width: 100%;
}

.pimg {
    width: 200px;
    height: 150px;
}


#wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 70px;
    border: 7px solid rgb(0, 0, 0);
    border-radius: 20px;
    overflow: hidden;
}

#chatWrap {
    height: 639px;
    margin: auto;
    
    background-color: white;
}

#chatView {
    width: 100%;
    height: 92%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.system {
    width: 100%;
    text-align: center;
    font-size: large;
    color: darkgray;
}

.chatLine {
    height: auto;
    padding: 10px;
    overflow: hidden;
    text-align: left;
}

.nick {
    display: block;
    margin-left: 1%;
    font-size: large;
    font-weight: bold;
    color: gray;
}

.chatLog {
    max-width: 60%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    word-break: break-all;
    font-size: large;
    background-color: lightgray;
}

.me {
    float: right;
    background-color: lightblue;
}

#sendForm {
    height: 6%;
    padding-top: 5px;
    padding-bottom: 3px;
    border-top: 7px solid black;

    text-align: center;
}

#name {
    width: 20%;
    height: 50px;
    font-size: 20px;
    border-radius: 8px;
}

#message {
    width: 90%;
    height: 30px;
    font-size: 20px;
    border-radius: 8px;
}

#canvas {
    position: static;
    background-color: rgb(7, 92, 7);
}

#word_info {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    border-radius: 15px;
    margin: 10px 0px 0px 10px;
    background-color: mediumspringgreen;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 25px;
    border: 1px solid white;
    padding: 3px 0px 0px 0px;
    text-align: center;
}

.color {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
}

.tool {
    width: 40px;
    height: 40px;
}
#homebut{
    background-color: coral;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}
#homebut2{
    background-color:khaki;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}