#header{
    display: flex;
    justify-content: space-between;
}
::-webkit-scrollbar {
    display: none;
}
#G_logo{
    border: 2px solid black;
    height: 50px;
    width: 150px;
}

#header{
    width: 84%;
}

#chatting{
    width: 320px;
    height: 40em;
}

.mainbox{
    display: flex;
    height: 640px;
    width: 1435.390px;
    border: 2px solid black;
    text-align: center;
}



#sketch_board{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40em;
    width: 55em;
    border-right: 2px solid black;
    position: relative;
}

#sketch_control{
    border: 2px solid black;
}

.user_box{

    width: 232px;
    height: 40em;
}

.player{
    border-bottom: 2px solid black;
    height : 158.5px
}


body {
    height: 100%;
    margin: 0;
    padding-left: 11%;
    background-color: lightblue;
}
nav{
    overflow: hidden;
}
#wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: lightblue;
}

#chatWrap {
    width: 320px;
    height: 639px;
    margin: auto;
    border: 1px solid gray;
    background-color: white;
}

#chatView {
    width: 100%;
    height: 92%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.system {
    width: 100%;
    text-align: center;
    font-size: large;
    color: darkgray;
}

.chatLine {
    height: auto;
    padding: 10px;
    overflow: hidden;
    text-align: left;
}

.nick {
    display: block;
    margin-left: 1%;
    font-size: large;
    font-weight: bold;
    color: gray;
}

.chatLog {
    max-width: 60%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    word-break: break-all;
    font-size: large;
    background-color: lightgray;
}

.me {
    float: right;
    background-color: lightblue;
}

#sendForm {
    height: 5%;
    padding: 5px;
    border-top: 1px solid gray;
    text-align: center;
}

#name {
    width: 20%;
    height: 50px;
    font-size: 20px;
    border-radius: 8px;
}

#message {
    width: 90%;
    height: 30px;
    font-size: 20px;
    border-radius: 8px;
}
#canvas{
    position: static;
    background-color: rgb(7, 92, 7);
    width: 880px;
    height : 592px;
    border-bottom : 2px solid rgb(104, 219, 129);
}

#word_info{
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;

    border-radius: 15px;
    margin: 10px 0px 0px 10px;

    background-color: mediumspringgreen;

    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    border : 1px solid white;
    text-align: center;
}

